html,
body {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 110px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #00275F;
    color: white;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/**                                  Self classes                                     **/
h1, h2, h3 { color: #00275F; }
h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}
h3 {
    margin-top: 5px;
    font-size: 21px;
    font-weight: 300;
}
h2 {
    font-size: 30px;
    font-weight: normal;
}

.font-arial { font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important; }
.font-bold { font-weight: bolder; }
.navbar-tera {
    font-family: 'Fira Sans', sans-serif;
    font-feature-settings: 'liga';
    font-size: 14px;
    background: white;
    border:none;
    padding-top: 15px;
}
.navbar-brand-tera {
    color: #000000 !important;
    font-size: 35px;
    line-height: 42px;
    font-weight: 300;
    height: 71px;
}
.navbar-nav-tera {
    font-size: 17px;
    font-weight: 500;
    margin-top: 21px;
    text-align: center;
}
.navbar-nav-tera > li > a { padding-left: 25px; padding-right: 25px; }
/*.navbar-nav-tera*/
.phone { font-size: 23px; color: #000000 !important; }
.phone:hover { text-decoration: none; }
.navbar-nav-tera .subline {
    font-size: 10px;
    line-height: 12px;
    position: relative;
    top: -20px;
}

.navbar-link a { color: #02275E !important; }
.navbar-link a:hover, .city-chooser a:hover { color: #CD1041 !important; }

.search a { display: inline-block !important; }
.search:after {
    content: url("/icons/looking_glass.jpg");
    position: relative;
    left: -10px;
}
.city-chooser { margin-right: 180px; }
.city-chooser a { display: inline-block !important; text-decoration: underline; text-transform: uppercase; }
.city-chooser:before {
    content: url('/icons/location.png');
    width: 8px;
    height: 13px;
    position: relative;
    right: -20px;
}
.city-choose {
    display: inline-block; text-decoration: none; text-transform: uppercase;
    min-height: 120px;
    position: fixed;
    border: 1px solid #02275E; padding: 5px; background: #D7E0E3; border-radius: 5px;
}
.city-choose a { padding: 10px 20px; }
/*   Slider on main  */
.main-slider {
    height: 470px;
    width: 100%;
}
.main-slider .carousel-inner { height: inherit; }
.main-slider .carousel-inner .item { height: inherit; }
.main-slider .carousel-indicators { bottom: 0; left: 90%; }
.main-slider .carousel-indicators li {
    width: 25px;
    height: 6px;
    border-radius: 0;
    border: none;
    background-color: white;
}
.main-slider .carousel-indicators .active { background-color: #CD1041; }
.main-slider .carousel-caption {
    left: 1%;
    bottom: -20px;
}
.main-slider .caption {
    width: 50%;
    height: 343px;
    background-color: #CD1041;
    opacity: 0.9;
    text-align: left;
    padding: 60px 20px 0 20px;
}
.main-slider .caption p { font-size: 50px; font-weight: 100; margin: 0; line-height: initial; }
.main-slider .caption div { border-top: 1px solid; width: 40%; margin: 40px auto 35px; }
.main-slider .caption span {
    font-size: 14px;
    font-weight: 400;
}
.main-links { padding: 30px 0; margin-top:40px;}
.main-links a{
    text-transform: capitalize;
    color: #CD1041;
    font-size: 20px;
    font-weight: 300;
    border:1px solid #CD1041;
    margin: 20px 5px 20px 0;
    padding: 26px 0;
}
.main-links p {
    width: 140px;
    text-align: center;
    display: inline-block;
}
.main-links a:hover {
    text-decoration: none;
    border-color: #00275F;
    color: #00275F;
}
.direct-links div {
    text-align: center;
    height: 155px;
    margin: 0 4px;
    line-height: normal;
    padding-top: 10px;
}
.direct-links a {
    font-size: 20px;
    display: inline-block;
}
.direct-links #catalogue a { padding-top: 10px; font-weight: 100; }
.direct-links #catalogue { background-color: #00275F; }
.direct-links #catalogue p {
    margin-top: 10px;
    color: white;
    text-decoration: underline;
}
.direct-links .product { background-color: #D7E0E3; }
.direct-links .product a { color: #000000; font-weight: 300; }
/* Catalogue */
.catalogue p { text-align: center; font-size: 16px; }
.catalogue-type {
    text-decoration: none !important;
    display: block;
    text-align: center;
    background-color: #D7E0E3;
    font-size: 15px;
    color: #00275F;
    padding-top: 2px;
}
.catalogue-type:first-child { border-right: 2px solid white; }
.catalogue-type:last-child { border-left: 2px solid white; }
.catalogue-type:hover { background-color: #00275F; color: white; }

.catalogue-accordion { margin-top: 10px; }
.ui-accordion-content {
    padding:0 !important;
    background-color: #F2F2F2 !important;
    border: none !important;
}
.ui-widget-content {
    background: none;
}
.ui-accordion .ui-accordion-header { font-size: 21px; font-family: "Fira Sans", sans-serif; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-color: transparent ;
    background-image: none;
    border: none !important;
}
.ui-state-active, .ui-state-active .ui-state-hover {
    background-color: #CD1041 !important;
    color: white !important;
    border: none !important;
}
.ui-state-hover { background-color: #F2F2F2; }
.catalogue-accordion .ui-accordion-header {
    /*padding: 0.5em 0.5em 0.5em 0.7em;*/
    padding: 0;
}
.catalogue-accordion a {
    padding: 0.5em 0.5em 0.5em 0.7em !important;
}
.catalogue-accordion div, .catalogue-accordion a {
    text-decoration: none;
    text-transform: uppercase;
    outline: none !important;
    border-radius: 0;
    display: block;
}
.ui-accordion-header.catalogue-accordion-content {
    text-transform: none;
    font-size: 17px;
    font-weight: 300;
    border:1px solid #D7E0E3;
}
.subcategory-active { background-color: #D7E0E3; }

.catalogue-content { padding-left: 25px; }
/*** Product card ***/
.product-card {
    margin: 0 -10px 10px;
    border:1px solid #D7E0E3;
    color: #00275F;
}

.product-card .left-column { text-align: center; }
.product-card .row { padding: 0 2px;}
.product-card .head { font-size: 14px; font-weight: 500; }
.product-card .body { font-size: 11px; font-weight: normal; height: 6em; overflow-wrap: break-word; overflow-y: hidden; }
.product-card .body p { margin: 0 !important;}
.product-card .features { font-size: 12px; font-weight: normal; }
.product-card .features .left { text-align: right; padding: 0 4px 0 2px;}
.product-card .features .right { text-align: left; padding: 0 2px 0 4px;}
.product-button {
    width:90%;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    color: #7F7F7F;
    border:1px solid #DEDEDE;
    display: inline-block;
    text-decoration: none;
    text-transform: lowercase;
    border-radius: 20px;
    margin-bottom: 10px;
}
.product-button:hover { text-decoration: none; border-color: #CD1041; color: #CD1041; letter-spacing: 1px;}
.product-button.red { background-color: #CD1041; border-color: #CD1041; color:#FFFFFF; }

/*  Contacts page */
.site-contacts { margin-bottom: 25px; }
.site-contacts p { font-size: 15px; margin: 0;}
.site-contacts h2 { margin-top: 5px; margin-bottom: 25px; letter-spacing: 2px; }
.site-contacts a { color: #CD1041; }
.site-contacts .row { margin-bottom: 20px; }
.site-contacts .chief { font-size: 30px; font-weight: 300; }
.site-contacts .sales { font-size: 19px;}
.site-contacts .partners-card a { font-size: 15px; color: #00275F; }

/* Product page */
.product-view {color: #00275F; }
.product-view h1 { font-size: 20px; font-weight: 500; text-align: left; margin-bottom: 25px; }
.product-view .features-header { font-weight: 500; margin-bottom: 15px; }
.product-view .left { text-align: right; }
.product-view .table-striped > tbody > tr:nth-of-type(odd) {
      background-color: #D7E0E3;
}
.product-view .ql-editor { padding: 0; }
.product-view .ui-state-disabled { opacity: 0.9 !important; }

.ql-editor { text-align: justify !important; color: #00275F; }
.ql-editor p { text-indent: 2em; }

/* Contact form */
.delim {
    position: relative;
    top: 0.5em;
    border-top: 1px solid #00275F;
}
.site-contact {
    color: #02275E;
}
