html,
body {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    position: relative;
}

.footer {
    height: 60px;
    background-color: #00275F;
    color: white;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/**                                  Self classes                                     **/
html { font-size: 5px; }
body { font-size: 1.4em; }
.col-xs-12,.col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7,
.col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
@media ( max-width: 767px ) {
    .row { margin-right: -5px; margin-left: -5px; }
    .navbar-link { font-size: 2.5rem; }
    .navbar-nav >li > a { padding-top: 1rem; padding-bottom: 1rem; }
    .navbar-nav-tera .subline { top: 4rem !important; }
}

@media ( min-width: 768px ) {
    html { font-size: 6px; }
    .navbar-nav-tera .subline { top: 6rem !important; }
}

@media ( min-width: 992px ) {
    html { font-size: 8px; }
    .navbar-nav-tera .subline { top: 4.5rem !important; }
}
@media ( min-width: 1200px ) {
    html { font-size: 10px; }
    .navbar-nav-tera .subline { top: 4rem !important; }
}
.btn { font-size: 1.4rem; }
.wrap > .container {
    padding: 12rem 1.5rem 2rem;
}

h1, h2, h3, h4 { color: #00275F; }
h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
h3 {
    margin-top: 5px;
    font-size: 2.1rem;
    font-weight: 300;
}
h4 { font-size: 1.5rem; margin-bottom: 10px; }
h2 {
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 0.5rem;
}

.ql-editor h2, .ql-editor h4 { padding-bottom: 0.5rem !important; }

.font-arial { font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important; }
.font-bold { font-weight: bolder; }
.disabler {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 9999;
    background-color: white;
}
.navbar-tera {
    font-family: 'Fira Sans', sans-serif;
    font-feature-settings: 'liga';
    font-size: 1.4rem;
    background: white;
    border:none;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}
.navbar-brand-tera {
    color: #000000 !important;
    font-size: 3.5rem;
    line-height: 4.2rem;
    font-weight: 300;
    height: 7.1rem;
    margin-right: 4rem;
}
.navbar-nav-tera {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 2.1rem;
    text-align: center;
}
.navbar-nav-tera > li > a { padding-left: 2.5rem; padding-right: 2.5rem; }
/*.navbar-nav-tera*/
.phone { font-size: 2.3rem; color: #000000 !important; }
.phone:hover { text-decoration: none; }
.navbar-nav-tera .subline {
    font-size: 1rem;
    line-height: 1.2rem;
    position: absolute;
    left: 0;
    width:100%;
}

.navbar-link a { color: #02275E !important; }
.navbar-link a:hover, .city-chooser a:hover { color: #CD1041 !important; }

.search a { display: inline-block !important; }
.search:after {
    content: url("/icons/looking_glass.jpg");
    position: relative;
    left: -1rem;
}
.important-link { color: #00275F; text-transform: uppercase; font-size: 1.7rem; font-weight: 500; }

/*.city-chooser { margin-right: 18rem; }*/
.city-chooser a { display: inline-block !important; text-decoration: underline; text-transform: uppercase; }
.city-chooser:before {
    content: url('/icons/location.png');
    width: 0.8rem;
    height: 1.3rem;
    position: relative;
    right: -2rem;
}
.city-choose {
    display: inline-block; text-decoration: none; text-transform: uppercase;
    min-height: 12rem;
    position: fixed;
    border: 1px solid #02275E; padding: 0.5rem; background: #D7E0E3; border-radius: 0.5rem;
    max-height: 60%;
    overflow-y: scroll;
}
/* .city-choose a { padding: 1rem 2rem; } */
/*   Slider on main  */
.main-slider {
    height: 46rem;
    width: 100%;
}
.main-slider .carousel-inner { height: inherit; }
.main-slider .carousel-inner .item { height: inherit; }
.main-slider .carousel-indicators { bottom: 2rem; left: 90%; }
.main-slider .carousel-indicators li {
    width: 2.5rem;
    height: 0.6rem;
    border-radius: 0;
    border: none;
    background-color: white;
}
.main-slider .carousel-indicators .active { background-color: #CD1041; }
.main-slider .carousel-caption {
    left: 1%;
    bottom: -2rem;
}
.main-slider .caption {
    width: 50%;
    height: 34.3rem;
    background-color: #CD1041;
    opacity: 0.9;
    text-align: left;
    padding: 6rem 2rem 0 2rem;
}
.main-slider .caption p { font-size: 5rem; font-weight: 100; margin: 0; line-height: initial; }
.main-slider .caption div { border-top: 1px solid; width: 40%; margin: 4rem auto 3.5rem; }
.main-slider .caption span {
    font-size: 1.4rem;
    font-weight: 400;
}
.main-links { padding: 3rem 0; margin-top:4rem;}
.main-links > div { padding-left: 1.5rem; padding-right: 0; }
.main-links a{
    display: inline-block;
    width:100%;
    text-transform: capitalize;
    color: #CD1041;
    font-size: 2rem;
    font-weight: 300;
    border:1px solid #CD1041;
    padding: 2.6rem 0;
}
.main-links p {
    /*width: 14rem;*/
    margin: 0 auto;
    text-align: center;
    /*display: inline-block;*/
}
.main-links a:hover {
    text-decoration: none;
    border-color: #00275F;
    color: #00275F;
}
.direct-links div {
    text-align: center;
    height: 15.5rem;
    line-height: normal;
    padding-right: 0;
}
.direct-links a {
    font-size: 2rem;
    display: inline-block;
}
.direct-links img { height: 8.2rem; }
.direct-links #catalogue {
    background-color: #00275F;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 100; width: 100%; display: inline-block;
}
.direct-links #catalogue p {
    margin-top: 1rem;
    color: white;
    text-decoration: underline;
}
.direct-links .product { background-color: #D7E0E3; }
.direct-links .product a { color: #000000; font-weight: 300; }
/* Catalogue */
.catalogue p { text-align: center; font-size: 1.6rem; }
.catalogue-type {
    text-decoration: none !important;
    display: block;
    text-align: center;
    background-color: #D7E0E3;
    font-size: 1.5rem;
    color: #00275F;
    padding-top: 2px;
}
.catalogue-type:first-child { border-right: 2px solid white; }
.catalogue-type:last-child { border-left: 2px solid white; }
.catalogue-type:hover { background-color: #00275F; color: white; }

.catalogue-accordion { margin-top: 1rem; }
.ui-accordion-content {
    padding:0 !important;
    background-color: #F2F2F2 !important;
    border: none !important;
}
.ui-widget-content {
    background: none;
}
.ui-accordion .ui-accordion-header { font-size: 2.1rem; font-family: "Fira Sans", sans-serif; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-color: transparent ;
    background-image: none;
    border: none !important;
}
.ui-state-active, .ui-state-active .ui-state-hover {
    background-color: #CD1041 !important;
    color: white !important;
    border: none !important;
}
.ui-state-hover { background-color: #F2F2F2; }
.catalogue-accordion .ui-accordion-header {
    /*padding: 0.5em 0.5em 0.5em 0.7em;*/
    padding: 0;
}
.catalogue-accordion a {
    padding: 0.5em 0.5em 0.5em 0.7em !important;
}
.catalogue-accordion div, .catalogue-accordion a {
    text-decoration: none;
    text-transform: uppercase;
    outline: none !important;
    border-radius: 0;
    display: block;
}
.ui-accordion-header.catalogue-accordion-content {
    text-transform: none;
    font-size: 1.7rem;
    font-weight: 300;
    border:1px solid #D7E0E3;
}
.subcategory-active { background-color: #D7E0E3; }

.catalogue-content { padding-left: 2.5rem; }
/*** Product card ***/
.product-card {
    margin: 0 -1rem 1rem;
    border:1px solid #D7E0E3;
    color: #00275F;
}

.product-card .left-column { text-align: center; }
.product-card .row { padding: 0 2px;}
.product-card h3 a { color: #00275F; text-decoration: underline; }
.product-card .head { font-size: 1.4rem; font-weight: 500; }
.product-card .body { font-size: 1.1rem; font-weight: normal; height: 7em; overflow-wrap: break-word; overflow: hidden; margin-bottom: 1em; }
.product-card .body p { margin: 0 !important;}
.product-card .features { font-size: 1.2rem; font-weight: normal; }
.product-card .features .left { text-align: right; padding: 0 4px 0 2px;}
.product-card .features .right { text-align: left; padding: 0 2px 0 4px;}
.product-button {
    width:90%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    color: #7F7F7F;
    border:1px solid #DEDEDE;
    display: inline-block;
    text-decoration: none;
    text-transform: lowercase;
    border-radius: 2rem;
    margin-bottom: 1rem;
}
.product-button:hover { text-decoration: none; border-color: #CD1041; color: #CD1041; letter-spacing: 1px;}
.product-button.red { background-color: #CD1041; border-color: #CD1041; color:#FFFFFF; }

/*  Contacts page */
.site-contacts { margin-bottom: 2.5rem; }
.site-contacts p { font-size: 1.5rem; margin: 0;}
.site-contacts h2 { margin-top: 0.5rem; margin-bottom: 2.5rem; letter-spacing: 2px; }
.site-contacts a { color: #CD1041; }
.site-contacts .row { margin-bottom: 2rem; }
.site-contacts .chief { font-size: 3rem; font-weight: 300; }
.site-contacts .sales { font-size: 1.9rem;}
.site-contacts .partners-card a { font-size: 1.5rem; color: #00275F; }

/* Product page */
.product-view {color: #00275F; }
.product-view h1 { font-size: 2rem; font-weight: 500; text-align: left; margin-bottom: 2.5rem; }
.product-view .product-button { margin-top: 2rem; }
.product-view .features-header { font-weight: 500; margin-bottom: 1.5rem; color: #00275F; }
.product-view .left { text-align: right; }
.product-view .table-striped > tbody > tr:nth-of-type(odd) {
      background-color: #D7E0E3;
}
.product-view .ql-editor { padding: 0; overflow-y: visible; }
.product-view .ui-state-disabled { opacity: 0.9 !important; }

.product-view .image { float:right; width:30%; margin-left: 1rem; margin-right: 1rem; position:relative; }
.product-view .image img:hover { opacity:0.8; }

.ql-editor { text-align: justify !important; color: #00275F; }
.ql-editor::before { content: none; }
.ql-editor p { text-indent: 2em; }

/* Contact form */
.delim {
    position: relative;
    top: 0.5em;
    border-top: 1px solid #00275F;
}

.site-contact.row { margin: auto; }
.site-contact .panel { margin: auto; }
.site-contact { color: #02275E; }
.site-contact p { text-align: center; }
.site-contact h4 { text-align: center; margin-bottom: 1.5em;}
.site-contact .form-group { margin-bottom: 0.5rem; }

.site-about h1 { margin-bottom: 1rem; }